
{{#section-container name='welcome'}}

  <header>
    <h1>Welcome to {{applicationName}}</h1>

    <p>Every time I start an Ember project, I install these things. Since we don't have brunch.io style skeletons, I'll be keeping this base app up to date–at least LTS for now–so that I don't need to go through these motions any more.</p>

    <p>I have to say up-front, this is going to have all it's style rules written in stylus.</p>

    <p>I'm sure no one will even see this, but just in case... this is version 0.0.1 - and I'm just getting it going. I'd say it's 1/10th of what I expect it to be. <a href='https://twitter.com/sheriffderek' target='sheriff'>@sheriffderek</a></p>

    <p><a href='https://github.com/sheriffderek/fire-starter' target='sheriff-github'>github.com/sheriffderek/fire-starter</a> is where this will live.</p>

    <p>The following is in order of importance:</p>
  </header>



  <section>
    <h2>Excluded packages:</h2>

    <ul class='included-packages-list'>
      {{#each excludedPackages as |package|}}
        <li>
          <a href='{{package.url}}' target='{{package.name}}'>
            <h3>{{package.name}}</h3>
          </a>
          <p>{{package.purpose}}</p>
        </li>
      {{/each}}
    </ul>
  </section>



  <section>
    <h2>Included packages:</h2>

    <ul class='included-packages-list'>
      {{#each includedPackages as |package|}}
        <li>
          <a href='{{package.url}}' target='{{package.name}}'>
            <h3>{{package.name}}</h3>
          </a>
          <p>{{package.purpose}}</p>
        </li>
      {{/each}}
      <li><h4>Coming up:</h4></li>
      <li>ember-resize: https://github.com/mike-north/ember-resize</li>

    </ul>
  </section>



  <section>
    <h2>CSS considerations:</h2>

    <ul class='included-packages-list'>
      {{#each cssConsiderations as |resource|}}
        <li>
          {{#if 'resource.url'}}
            <a href='{{resource.url}}' target='{{resource.name}}'>
              <h3>{{resource.name}}</h3>
            </a>
          {{else}}
            <h3>{{resource.name}}</h3>
          {{/if}}
          <p>{{resource.purpose}}</p>
        </li>
      {{/each}}
      <li><h4>Coming up:</h4></li>
      <li>A set of development styles that can be toggled</li>
    </ul>
  </section>




  <section>
    <h2>Routing considerations:</h2>

    <ul class='included-packages-list'>
      {{#each routingConsiderations as |resource|}}
        <li>
          <a href='{{resource.url}}' target='{{resource.name}}'>
            <h3>{{resource.name}}</h3>
          </a>
          <p>{{resource.purpose}}</p>
        </li>
      {{/each}}
    </ul>
  </section>




  <section>
    <h2>Testing considerations:</h2>

    <p>You're on your own until further notice. I'm going to also delete the default generator tests and routes that are empty.</p>
  </section>

{{/section-container}}
