
<header>
  {{#link-to 'style-guide.font-families'}}
    <h2 class='title'>Font families </h2>
  {{/link-to}}

  <p class='description'>These are really more important than color, if you had to choose</p>

  <label for='typeExamples' class='input-w'>
    <div class='label'>Try out some other copy here to see the </div>
    {{input value=defaultFontExample}}
  </label>

</header>

<main>
  <article class='font-description heading-font'>
    <header>
      <table>
        <tr class='typeface'>
          <td>Typeface</td>
          <td class='name'>Nunito</td>
        </tr>
        <tr class='font'>
          <td>Font</td>
          <td class='name'></td>
        </tr>
        <tr class='company'>
          <td>Company</td>
          <td class="name">...</td>
        </tr>
      </table>
    </header>
    <main>
      <div class='regular'>{{allFontCharacters}}</div>
      <div class='big'>{{defaultFontExample}}</div>
      <div class='regular'>{{defaultFontExample}} {{defaultFontExample}} {{defaultFontExample}}</div>
    </main>
  </article>

  <article class='font-description body-font'>
    <header>
      <table>
        <tr class='typeface'>
          <td>Typeface</td>
          <td class='name'>Alegreya</td>
        </tr>
        <tr class='font'>
          <td>Font</td>
          <td class='name'></td>
        </tr>
        <tr class='company'>
          <td>Company</td>
          <td class="name">...</td>
        </tr>
      </table>
    </header>
    <main>
      <div class='regular'>{{allFontCharacters}}</div>
      <div class='big'>{{defaultFontExample}}</div>
      <div class='regular'>{{defaultFontExample}} {{defaultFontExample}} {{defaultFontExample}}</div>
    </main>
  </article>

  <article class='font-description other-font'>
    <header>
      <table>
        <tr class='typeface'>
          <td>Typeface</td>
          <td class='name'>Monospace</td>
        </tr>
        <tr class='font'>
          <td>Font</td>
          <td class='name'></td>
        </tr>
        <tr class='company'>
          <td>Company</td>
          <td class="name">...</td>
        </tr>
      </table>
    </header>
    <main>
      <div class='regular'>{{allFontCharacters}}</div>
      <div class='big'>{{defaultFontExample}}</div>
      <div class='regular'>{{defaultFontExample}} {{defaultFontExample}} {{defaultFontExample}}</div>
    </main>
  </article>
</main>
