
<header>
  {{#link-to 'style-guide.svg-icons'}}
    <h2 class='title'>SVG icons</h2>
  {{/link-to}}

  <p class='description'>These are pulled from an SVG icon sprite. see /components/svg</p>
</header>

<main>
  {{style-guide/icon-list class='extra-small'}}

  {{style-guide/icon-list class='small'}}

  {{style-guide/icon-list}}

  {{style-guide/icon-list class='medium'}}

  {{style-guide/icon-list class='large'}}

  {{style-guide/icon-list class='extra-large'}}
</main>
