
<header>
  {{#link-to 'style-guide.svg-icons'}}
    <h2 class='title'>SVG icons</h2>
  {{/link-to}}

  <p class='description'>These are pulled from an SVG icon sprite. see /components/svg</p>
</header>

<main>
  {{style-guide/icon-list class='extra-small'}}

  {{style-guide/icon-list class='small'}}

  {{style-guide/icon-list}}

  {{style-guide/icon-list class='medium'}}

  {{style-guide/icon-list class='large'}}

  {{style-guide/icon-list class='extra-large'}}

  {{style-guide/icon-list class='extra-small x'}}

  {{style-guide/icon-list class='small x'}}

  {{style-guide/icon-list class='x'}}

  {{style-guide/icon-list class='medium x'}}

  {{style-guide/icon-list class='large x'}}

  {{style-guide/icon-list class='extra-large x'}}

  <ul class='icon-list'>
    <li>
      {{svg-icon symbol='circle'}}
    </li>
    <li>
      {{svg-icon symbol='arrow-circle-up'}}
    </li>
    <li>
      {{svg-icon symbol='arrow-circle-right'}}
    </li>
    <li>
      {{svg-icon symbol='arrow-circle-down'}}
    </li>
    <li>
      {{svg-icon symbol='arrow-circle-left'}}
    </li>
  </ul>
</main>

<footer class='icon-inconsistency-example'>
  {{svg-icon symbol='circle'}}

  {{svg-icon symbol='arrow-circle-up'}}

  <p class='description'>Note: Most icons, such as Font Awesome, have a percentage padding around them. You can see how this can create inconsistent spacing if you view the svg, and it's use element, in an inspector.</p>

  <p>I've created this circle icon with no padding to show the difference. The padding is likely with good reason to normalize the variable icon shapes and sizes so that they can coexist and align vertically to each other. Be aware.</p>
</footer>
