
{{#section-container tagName='header' name='style-guide-header'}}

  <h1>Style guide</h1>

{{/section-container}}



{{#section-container name='loading-indicators'}}

  {{#link-to 'style-guide.loading-indicator'}}
    <h2>loading-indicators</h2>
  {{/link-to}}
  
  {{loading-indicator}}

{{/section-container}}



{{#section-container name='color-pallet'}}

  {{#link-to 'style-guide.color-pallet'}}
    <h2>color-pallet</h2>
  {{/link-to}}
  
  <section class='container swatches'>
    <div class='black'>$black</div>
    <div class='white'>$white</div>
    <div class='gray-lighter'>$gray-lighter</div>
    <div class='gray-light'>$gray-light</div>
    <div class='gray'>$gray</div>
    <div class='gray-dark'>$gray-dark</div>
    <div class='color-light'>$color-light</div>
    <div class='color'>$color</div>
    <div class='color-dark'>$color-dark</div>
    <div class='highlight-light'>$highlight-light</div>
    <div class='highlight'>$highlight</div>
    <div class='highlight-dark'>$highlight-dark</div>
    <div class='alternate-light'>$alternate-light</div>
    <div class='alternate'>$alternate</div>
    <div class='alternate-dark'>$alternate-dark</div>
  </section>  

{{/section-container}}



{{#section-container name='light-theme'}}

  {{#link-to 'style-guide.light-theme'}}
    <h2>Light theme</h2>
  {{/link-to}}

  {{theme-content themeName='The standard theme will likely be this one'}}

{{/section-container}}



{{#section-container name='dark-theme'}}

  {{#link-to 'style-guide.dark-theme'}}
    <h2>Dark theme</h2>
  {{/link-to}}

  {{theme-content themeName='The dark theme looks like this'}}

{{/section-container}}



{{#section-container name='color-theme'}}

  {{#link-to 'style-guide.color-theme'}}
    <h2>Color theme</h2>
  {{/link-to}}

  {{theme-content themeName='Smaller areas can have this theme'}}

{{/section-container}}



{{#section-container name='highlight-theme'}}

  {{#link-to 'style-guide.highlight-theme'}}
    <h2>Highlight theme</h2>
  {{/link-to}}

  {{theme-content themeName='The highlight theme:'}}

{{/section-container}}



{{#section-container name='alternate-theme'}}

  {{#link-to 'style-guide.alternate-theme'}}
    <h2>Alternate theme</h2>
  {{/link-to}}

  {{theme-content themeName='And one more, for good measure'}}

{{/section-container}}
