
{{#style-guide-section tagName='header' name='style-guide-header'}}

  <h1 class='page-title'>Style guide</h1>

{{/style-guide-section}}



{{#style-guide-section name='loading-indicators'}}

  {{style-guide/loading-indicators}}

{{/style-guide-section}}



{{#style-guide-section name=''}}

  {{style-guide/spacing-units}}

{{/style-guide-section}}



{{#style-guide-section name='font-families'}}

  {{style-guide/font-families}}

{{/style-guide-section}}



{{#style-guide-section name='svg-icons'}}

  {{style-guide/svg-icons}}

{{/style-guide-section}}



{{#style-guide-section name='type-voice'}}
  
  {{style-guide/type-voice}}

{{/style-guide-section}}



{{#style-guide-section name='color-pallet'}}

  {{style-guide/color-pallet}} 

{{/style-guide-section}}



{{#style-guide-section name='input-types'}}

  {{style-guide/input-types}}

{{/style-guide-section}}



{{#style-guide-section name='component-patterns'}}

  {{style-guide/component-patterns}}

{{/style-guide-section}}



{{#style-guide-section name='light-theme'}}
  
  <header>
    {{#link-to 'style-guide.light-theme'}}
      <h2 class='title'>Light theme</h2>
    {{/link-to}}
  </header>

  <main>
    {{theme-content themeName='The standard theme will likely be this one'}}
  </main>

{{/style-guide-section}}



{{#style-guide-section name='dark-theme'}}

  {{#link-to 'style-guide.dark-theme'}}
    <h2 class='title'>Dark theme</h2>
  {{/link-to}}

  {{theme-content themeName='The dark theme looks like this'}}

{{/style-guide-section}}



{{#style-guide-section name='color-theme'}}

  {{#link-to 'style-guide.color-theme'}}
    <h2 class='title'>Color theme</h2>
  {{/link-to}}

  {{theme-content themeName='Smaller areas can have this theme'}}

{{/style-guide-section}}



{{#style-guide-section name='highlight-theme'}}

  {{#link-to 'style-guide.highlight-theme'}}
    <h2 class='title'>Highlight theme</h2>
  {{/link-to}}

  {{theme-content themeName='The highlight theme:'}}

{{/style-guide-section}}



{{#style-guide-section name='alternate-theme'}}

  {{#link-to 'style-guide.alternate-theme'}}
    <h2 class='title'>Alternate theme</h2>
  {{/link-to}}

  {{theme-content themeName='And one more, for good measure'}}

{{/style-guide-section}}
