
{{svg-icons}}



<header class='app-header'>
<div class='inner-w'>
  
  <h1>
    <svg class='icon-x'><use xlink:href='#icon-bam'></use></svg>
    {{applicationName}}
  </h1>

  {{main-menu}}

</div>
</header>



{{outlet class='application-outlet'}}



<footer class='app-footer'>
<div class='inner-w'>
  
  <h2>Footer?</h2>

</div>
</footer>


{{ember-load-remover}}
{{break-point-helper}}
