
{{svg-sprite}}



<header class='app-header'>
<div class='inner-w'>
  
  <h1>
    {{svg-icon symbol='circle'}}
    {{applicationName}}
  </h1>

  {{main-menu}}

</div>
</header>



{{outlet class='application-outlet'}}



<footer class='app-footer'>
<div class='inner-w'>
  
  <h2>Footer?</h2>
  {{main-menu}}

</div>
</footer>



{{ember-load-remover}}
{{break-point-helper}}
